:root {
  --primary: #8075FF;
  --primary-dark: #5F55CC;
  --primary-light: #A39BFF;

  --background: #232528;
  --surface: #2F3238;

  --text: #E8E9F2;

  --accent: #6FA9C9;

  --light_background: #f5f5f5;
  --light_surface: #ffffff;
  --light_text: #232528;
  --light_accent: #8075FF;
  --line: #3A3B40;

}